*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.test
*.prof
*.mprof
*.log
*.zip
*.syso
*.conf

# build specific
build/
build_*/
release/
release_*/
misc/version.go
convert/text/dictionaries/*.txt.gz
convert/text/sentences/*.json.gz
!convert/text/sentences/russian.json.gz
!convert/text/sentences/hungarian.json.gz
!convert/text/sentences/icelandic.json.gz
!convert/text/sentences/korean.json.gz
