p {
    text-indent: 1em;
    text-align: justify;
    margin: 0 0 0.3em 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 1em 0;
    page-break-before: always;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}
br.title-emptyline {
    display: block;
    margin: 0.5em 0;
}
br.title-paragraph {
    display: block;
}
.title-first,
.title-next {
    display: inline;
    text-indent: 0;
}
.sub-title {
    text-align: center;
    font-weight: bold;
    text-indent: 0;
    margin: 1em 0;
    page-break-after: avoid;
}
.poem-title {
    margin: 1em 0;
}
.poem-title-first,
.poem-title-next {
    text-align: center;
    text-indent: 0;
    margin: 0;
}
.image {
    text-align: center;
    text-indent: 0;
}
.image img {
    max-width: 100%;
    height: auto;
}
.epigraph {
    text-align: right;
    font-style: italic;
    margin: 0.4em 0 0.2em 4em;
}
.annotation {
    font-size: 80%;
    text-align: center;
    margin: 2em 1em 1em 1em;
}
.poem {
    text-indent: 0;
    font-style: italic;
    margin: 0 0 0 3em;
}
.stanza {
    margin: 0.5em 0;
}
.stanza-title {
    text-align: center;
    font-weight: bold;
    text-indent: 0;
    margin: 0.5em 0;
}
.stanza-subtitle {
    text-align: center;
    text-indent: 0;
    margin: 0.25em 0;
}
.verse {
    margin: 0.25em 0 0.25em 2em;
    text-indent: 0;
}
.cite,
blockquote.cite {
    margin: 1em 2em;
}
.text-author {
    text-align: right;
    font-style: italic;
    text-indent: 0;
    page-break-before: avoid;
    font-weight: bold;
}
.date {
    text-align: right;
    text-indent: 0;
    margin: 0.5em 0;
}
.section {
    margin: 1em 0;
}
table {
    border-collapse: collapse;
    margin: 1em auto;
}
td,
th {
    border: 1px solid #ccc;
    padding: 0.5em;
}
a.external-link {
    text-decoration: underline;
}
a.internal-link {
    text-decoration: none;
}
a.footnote-link {
    text-decoration: none;
    font-style: normal;
    font-size: 0.8em;
    vertical-align: super;
}
