# Content should be UTF-8!
version: 1

# Some fields must be specified using go template language:
# https://pkg.go.dev/text/template#pkg-overview with additional functions from
# slim-sprig package available for processing:
# https://go-task.github.io/slim-sprig
# List of variables always available (additional variables could be specified
# for a particular field):
# - .Context (string) - name of the template field, uniquely defines processing
# context
# - .Index (integer) - when template is applied to a slice variable index
# selects slice element relevant in a particular context, otherwise -1
# - .Title (string) - book title as specified in fb2 metainformation
# - .Series (array of { .Name (string), .Number (integer) }) - series as
# specified in fb2 metainformation.
#     NOTE: according to fictionbook schema series could be hierarhical (series
#     contain series and so on). Hierarhy is competely ignored - anything below
#     first level is dropped.
#     NOTE: Similarily I am not aware of any usage of multiple series, for
#     example Calibre only supports one. So on some occasions internally
#     converter only uses first series available.
# - .Language (string) - cannonical string representation of a language as
# specified in fb2 metainformation
# - .Date (string) - date as specified in fb2 metainformation.
#     NOTE: If valid xs:date "value" attribute is provided - it will be used,
#     otherwide just text as defined
# - .Authors (array of { .FirstName (string), .MiddleName (string), .LastName
# (string)}) as specified in fb2 metainformation
# - .Format (string) - string representing requested conversion (ex: epub2,
# epub3, kepub...)
# - .SourceFile (string) - base part of the source file name (no path, no
# extension)
# - .BookID (string) - book UUID as specified by fb2 metainformation or
# assigned by converter
# - .Genres (array of strings) - genres names as specified by fb2
# metainformation

document:
  # Some programs (CoolReader and some versions of FBReader) expect "old" zip
  # format which does not have data descriptor. if you ever encounter
  # unreadable epub/kepub files - turn this on
  fix_zip: false

  # CSS stylesheet to use. If absent - default one will be supplied
  # stylesheet_path = "default.css"

  # When output_name_template is set output file will have name created using
  # FB2 metainformation
  # NOTE: watch out for path separators, directories will be created!
  output_name_template: |
    {{- $all := "" -}}
    {{- if gt (len .Authors) 0 -}}
    {{-   with first .Authors -}}
    {{-     $all = .LastName -}}
    {{-     if .FirstName }}{{ $all = (cat $all .FirstName) }}{{- end -}}
    {{-     if .MiddleName }}{{ $all = (cat $all .MiddleName) }}{{- end -}}
    {{-   end -}}
    {{-   if gt (len .Authors) 1 -}}
    {{-     if eq .Language "ru" }}{{ $all = (cat $all "и др") }}{{- else -}}{{ $all = (printf "%s%s" $all ", et al") }}{{- end -}}
    {{-   end -}}
    {{-   $all = cat $all "-" -}}
    {{- end -}}
    {{- if $all -}}
    {{-   cat $all .Title -}}
    {{- else -}}
    {{-   .Title -}}
    {{- end -}}

  # Slugify/transliterate output file name - after all other processing on file
  # name is completed
  file_name_transliterate: false

  # Insert soft hyphen symbols '\u00AD' inside words - for devices which do not
  # support proper hyphenation
  # NOTE: it may conflict with built-in hyphenation in the viewer, for example
  # modern day Kindles always have hyphenation turned on for Russian language
  # (and off for English)
  insert_soft_hyphen: false

  metainformation:
    # When title_template is set output book title metainformation will be
    # formatted using it. This is often used to conviniently sort device
    # library listings
    title_template: |
      {{- if gt (len .Series) 0 -}}
      {{-   with first .Series -}}
      {{-     $seriesLetters := list -}}
      {{-     range $word := splitList " " .Name -}}
      {{-       $seriesLetters = append $seriesLetters (upper (first (splitList "" $word))) -}}
      {{-     end -}}
      {{-     if gt (len $seriesLetters) 0 -}}
      {{-       "(" }}{{- join "" $seriesLetters -}}
      {{-       if gt .Number 0 -}}
      {{-         printf " - %02d" .Number -}}
      {{-       end -}}
      {{-       ") " -}}
      {{-     end -}}
      {{-   end -}}
      {{- end -}}
      {{  .Title -}}

    # When creator_name_template is set author(s) name in output book
    # metainformation will be formatted using it. Template is applied to each
    # available author individually using .Index field. Device often use
    # particular format for sorting books by author names
    creator_name_template: |
      {{- with index .Authors .Index }}
      {{-  .LastName -}}
      {{-  if .FirstName }} {{.FirstName}}{{ end -}}
      {{-  if .MiddleName }} {{.MiddleName }}{{ end -}}
      {{ end -}}

    # Slugify/transliterate book title and author(s) names - after all other
    # processing is completed
    transliterate: false

  images:
    # Do not skip images which cannot be decoded by program. Use them without
    # any processing, allowing reader to decide what to do.
    use_broken: false
    # Kindle eInc devices do not handle transparent PNG images well
    remove_png_transparency: false
    # Resize all images (but cover) with specified ratio
    scale_factor: 1.0
    # Recompress all supported images (presently JPEG, PNG). For JPEG quality
    # respects "jpeg_quality_level": if detected level for an image is higher
    # than requested image will be re-encoded. For PNG best compression_level
    # is always specified.
    optimize: false
    # JPEG quality level to use, percentage points (40% - 100%)
    jpeq_quality_level: 75

    cover:
      # When book does not have cover image supply one. For Amazon formats
      # always true
      generate: false
      # What image to use as default cover when default one is needed. If
      # required but not specified program will use internal resource
      # default_image_path = "default_cover.jpeg"

      # How to process cover image
      # "none"    - do nothing
      # "keepAR"  - when image height is less than specified, resize to
      # specified height keeping aspect ratio
      # "stretch" - unconditionally resize to specified width and height
      resize: stretch
      # Reader screen size so cover image could be adjusted properly
      width: 1264
      height: 1680

  footnotes:
    # How to render footnotes in the book
    # "default"    - no special processing, footnotes are just regular links
    # "float"      - pop up footnotes (result depends on reader support).
    # Actual generated content will follow output format requrements
    # for example with "float" pop-up footnotes
    #   for epub2 and kepub simple "bi-directional links" method (A -> B and
    #   B -> A) will be selected.
    #   for epub3 and kindle formats it will be <aside> and <epub> recommended
    #   by Amazon publishing guidelines
    mode: default
    # Names of the bodies in fb2 document to consider for footnotes processing
    # if required by mode
    bodies: ["notes", "comments", "примечания", "комментарии"]

  annotation:
    # Create separate "chapter" with book annotation if available
    enable: false
    # Use provded annotation title
    title: Annotation
    # Show annotation in TOC (generated page, ncx, nav, ...)
    in_toc: true

  toc_page:
    # Generate additional page with TOC (some devices may not support epub TOC
    # at all)
    # "none"   - do not generate
    # "before" - at the beginning of the book
    # "after"  - at the end of the book
    placement: none
    # when toc page generation requested and authors_template is set - page
    # will have title (header) with authors formatted using it
    authors_template: |
      {{- $names := list -}}
      {{- range .Authors -}}
      {{-   $name := list -}}
      {{-   if .FirstName -}}{{ $name = append $name .FirstName -}}{{- end -}}
      {{-   if .MiddleName -}}{{ $name = append $name .MiddleName -}}{{- end -}}
      {{-   if .LastName -}}{{ $name = append $name .LastName }}{{- end -}}
      {{-   $names = append $names (join " " $name) -}}
      {{- end -}}
      {{- join ", " $names -}}

  # Vignette images could be specified for book title (main section titile)
  # and for chapter title and end of chapter. Each item could be absent
  # (disabled), set to "builtin" (converter will use default images) or have
  # file path pointing to existing valid image file
  # NOTE: vignettes on subtitles and nested sections are not supported for
  # automatic vignetting
  vignettes:
    book_title:
      top: builtin
      bottom: builtin
    chapter_title:
      top: builtin
      bottom: builtin
      end: builtin

logging:
  # controls terminal (stdout, stderr) output
  console:
    # logging level
    # "none"   - suppress all console logging
    # "normal" - messages INFO level and higher are outputted
    # "debug"  - all log messages are outputted
    level: normal
  #---- controls logging to a file (could duplicate CONSOLE messages)
  file:
    # path to the log file, could be relative to current working directory
    destination: fb2cng.log
    # logging level
    # "none"   - suppress file logging
    # "normal" - messages INFO level and higher are printed
    # "debug"  - all log output is printed
    level: debug
    # how to handle output file during consecutive program runs
    # "append"    - keep all old log messages, append new ones at the end
    # "overwrite" - keep only messages from the last run, log is overwritten
    #mode: append
    mode: overwrite

# when program runs with "debug" option report file is produced at the
# specified destination it contains full debug log and other artifacts to help
# with troubleshooting
reporting:
  # could be relative to current working directory.
  destination: fb2cng-report.zip
  # vim: set filetype=yaml:
