# Content should be UTF-8!
version: 1

# redirect connector logs to a file
# log_destination: connector.log

# pass debug flag to fbc
debug: false

# output format specification
# when not specified or not compatible defaults will be used.
# output_format: epub3

# vim: set filetype=yaml:
