name: fb2 converter next generation release

on:
  create:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

      - name: Ubuntu version
        run: lsb_release -a

      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Build everything
        run: task release

      - name: Sign release artifacts
        uses: thomasdesr/minisign-action@v1
        with:
          args: -Sm release/fbc-*.zip
          minisign_key: ${{ secrets.minisign_key }}
          password: ${{ secrets.minisign_password }}

      - name: List results
        run: ls -lah release/

      - name: Upload release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          # prerelease: true
          generate_release_notes: true
          files: |-
            release/fbc-*.zip
            release/fbc-*.minisig
